.description-container {
    border: 3px solid lime;
    /* border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray; */
    margin: 10px auto;
    padding: 15px 20px;
}

.booking-info-container {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 400px;
    position: sticky;
    margin: 10px auto;
    padding: 15px 20px;
    left: 70%;
}

.images-container {
    /* border: 3px solid lime; */
    height: 412px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    padding: 0px;
    overflow: auto;
}

.preview-image-container {
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 410px;
}

.preview-image {
    /* border: 3px solid brown; */
    position: relative;
    left: -0.1%;
    top: -.1%;
    height: 412px;
    width: 400px;
}

.all-images-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 425px;
    min-width: 660px;
    max-width: 1200px;
    padding-left: 7%;
}

.rating-container {
    border: 3px solid pink;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100px;
}

.content {
    border: 3px solid purple;
    display: flex;
    justify-content: space-between;
}

.price-container {
    border: 3px solid yellow;
    min-width: 100px;
}

.another-container {
    border: 3px solid orange;
    display: flex;
    justify-content: space-around;
}

