:root {
    --main-color: #FF5A5F;
    --accent-color: #00A699;
    --alternate-color: #FC642D;
    --dark-color: #484848;
    --light-color: #767676;
    --main-header-font: 'Lobster Two';
    --sub-header-font: 'Signika Negative';
    --content-font: 'Rubik'
}

.title-header-container {
    /* border: 3px solid black; */
}

.description-container {
    /* border: 3px solid lime; */
    min-width: 200px;
    max-width: fit-content;
    margin: 10px auto;
    padding: 15px 20px;
}

.booking-info-container {
    /* border: 4px solid black; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
    max-height: fit-content;
    width: 400px;
    position: sticky;
    margin: 10px auto;
    padding: 15px 20px;
    left: 70%;
}

.images-container {
    /* border: 3px solid lime; */
    height: 452px;
    width: 450px;
    min-width: 200px;
    max-width: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 8px;
    padding: 0px;
    overflow: auto;
}

.grid-container {
    /* border: 3px solid peru; */
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    gap: 8px;
}

.preview-image-container {
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 455px;
    width: 550px;
}

.preview-image {
    /* border: 3px solid brown; */
    position: relative;
    left: -0.1%;
    top: -.1%;
    height: 455px;
    width: 545px;
    min-width: 100px;
}

.booking-price-container {
    padding: 15px;
    margin: 10px;
}

.all-images-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 525px;
    min-width: 760px;
    max-width: 1200px;
    max-height: fit-content;
    padding-left: 7%;
    margin: 0 auto;
}

.photo-cluster {
    /* border: 3px solid orchid; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 480px;
    width: 500px;
}

.rating-container {
    /* border: 3px solid pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 150px;
}

.content {
    /* border: 3px solid purple; */
    /* border-top: 2px solid lightgray; */
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    min-width: 650px;
}

.price-container {
    /* border: 3px solid yellow; */
    min-width: 100px;
}

.another-container {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: space-around;
}

.reserve-button {
    /* border: 3px solid blue; */
    background-color: var(--main-color);
    color: white;
    height: 100px;
    width: 300px;
    min-width: 100px;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
}

.reserve-button:hover {
    /* box-shadow: 5px 5px black; */
    box-shadow: none;
}

/* @media (max-width: 1100px) {
    .grid-container {
        border: 3px solid pink;
    }
} */

