:root {
    --main-color: #FF5A5F;
    --accent-color: #00A699;
    --alternate-color: #FC642D;
    --dark-color: #484848;
    --light-color: #767676;
    --main-header-font: 'Lobster Two';
    --sub-header-font: 'Signika Negative';
    --content-font: 'Rubik'
}

.review-container {
    /* border: 3px solid lime; */
    /* margin: 8px 0; */
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.review-buttons {
    /* border: 3px solid red; */
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.gray-text {
    color: var(--light-color);
}