:root {
  --main-color: #FF5A5F;
  --accent-color: #00A699;
  --alternate-color: #FC642D;
  --dark-color: #484848;
  --light-color: #767676;
  --main-header-font: 'Lobster Two';
  --sub-header-font: 'Signika Negative';
  --content-font: 'Rubik'
}

.rating-input {
    display: flex;
    margin-right: 4px;
  }
  
  .review-item {
    display: flex;
  }
  
  .rating-input .filled {
    color: gold;
  }
  
  .rating-input .empty {
    color: lightgray;
  }
  
  .sort {
    display: flex;
    list-style: none;
  }
  
  .sort li {
    cursor: pointer;
    margin: 0 4px;
  }
  
  .sort li.active {
    font-weight: bold;
    text-decoration: underline;
    pointer-events: none;
  }