:root {
    --main-color: #FF5A5F;
    --accent-color: #00A699;
    --alternate-color: #FC642D;
    --dark-color: #484848;
    --light-color: #767676;
    --main-header-font: 'Lobster Two';
    --sub-header-font: 'Signika Negative';
    --content-font: 'Rubik'
}

.review-content-container {
    /* border: 3px solid red; */
    min-width: 300px;
    min-height: 150px;
}

.create-review-form {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > div {
    margin: 10px;
}

.main-container {
    /* border: 3px solid blue; */
    height: fit-content;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.rating-input-container {
    /* border: 3px solid black; */
    padding: 4px;
}

.review-button {
    /* border: 3px solid blue; */
    background-color: var(--main-color);
    color: white;
    height: 60px;
    width: 300px;
    min-width: 100px;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 2px solid black;
    box-shadow: 5px 5px black ;
}

.review-button:hover {
    box-shadow: none;
}

.review-button:disabled {
    background-color: var(--light-color);
}