a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: inherit;
}

.card {
    /* border: 3px solid lime; */
    height: 400px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 8px;
}
.city-container {
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 250px;
    width: 300px;
    /* position: relative;
    left: 5%; */
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); */
    border-radius: 5px;
}

.manage-buttons-container {
    /* border: 3px solid lime; */
    display: flex;
    justify-content: center;
}

.manage-button {
    margin: 0 5px;
}

