.form-header {
    display: flex;
    justify-content: center;
}

.form-container {
    /* border: 3px solid red; */
    position: relative;
    width: 500px;
    height: auto;
}

.element {
    /* border: 3px solid lime; */
    width: fit-content;
    margin: 12px auto;
    padding: auto;
}

.signup-button {
    height: 35px;
    width: 100px;
    margin: auto;
    padding: auto;
}

ul {
    list-style-type: none;
}