footer {
    /* border: 3px solid blue; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80px;
    min-width: 350px;
}

i {
    color: rgb(0, 0, 0);
    transition: color 0.6s;
}

/* footer > a > div:hover {
    color: #aaa;
} */

.footer-font{
    /* color: #212529; */
    color: rgb(0, 0, 0);
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    font-size: 12px;
    margin: 10px 26px;
    text-transform: uppercase;
}