.form-header {
    display: flex;
    justify-content: center;
}

.login-form-container {
    /* border: 3px solid lime; */
    position: static;
    width: 500px;
    height: 250px;
}

.login-element {
    /* border: 3px solid red; */
    position: relative;
    width: fit-content;
    margin: 12px auto;
    padding: auto;
}

.login-button {
    height: 35px;
    width: 100px;
    position: relative;
    left: -5%;
    margin: auto;
    padding: 5px;
}