.login-container {
    /* border: 3px solid purple; */
    max-height: fit-content;
    min-height: 280px;
}

.form-header {
    /* border: 3px solid lime; */
    display: flex;
    justify-content: center;
}

.ul-container {
    /* border: 3px solid orange; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    width: 500px;
    height: 250px;
}

.login-element {
    /* border: 2px solid yellow; */
    min-width: fit-content;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    padding: auto;
}

.login-button {
    height: 35px;
    width: 100px;
    margin: auto;
    padding: auto;
}

ul > li > p {
    display: flex;
    justify-content: center;
    align-items: center;
}