/* TODO Add site wide styles */

/* font-family: 'Lobster Two', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Signika Negative', sans-serif; */

:root {
    --main-color: #FF5A5F;
    --accent-color: #00A699;
    --alternate-color: #FC642D;
    --dark-color: #484848;
    --light-color: #767676;
    --main-header-font: 'Lobster Two';
    --sub-header-font: 'Signika Negative';
    --content-font: 'Rubik'
}

html {
    background-color: #FFFFFF;
}

h1 {
    font-family: var(--main-header-font), sans-serif;
}

h2, h3 {
    font-family: var(--sub-header-font), sans-serif;
}

p {
    font-family: var(--content-font), sans-serif;
}

.links {
    color: var(--dark-color);
}

.links:hover {
    color: var(--light-color);
}
