/* TODO Add site wide styles */

/* font-family: 'Lobster Two', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Signika Negative', sans-serif; */

:root {
    --main-color: #FF5A5F;
    --accent-color: #00A699;
    --alternate-color: #FC642D;
    --dark-color: #484848;
    --light-color: #767676;
    --main-header-font: 'Lobster Two';
    --sub-header-font: 'Signika Negative';
    --content-font: 'Rubik'
}

::placeholder {
    color: gray;
}

html {
    background-color: #FFFFFF;
}

h1 {
    font-family: var(--main-header-font), sans-serif;
}

h2, h3 {
    font-family: var(--sub-header-font), sans-serif;
}

p {
    font-family: var(--content-font), sans-serif;
}

input, textarea {
    background-color: rgba(0, 156, 153, 0.15);
    border: 2px solid black;
}

.links {
    color: var(--dark-color);
}

.links:hover {
    color: var(--light-color);
}
