.reviews-header-container {
    /* border: 3px solid lime; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.stars-container {
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content:flex-start;
    min-width: 60px;
}

.rating {
    /* border: 3px solid pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 50px;
    padding: 5px;
}

.row {
    flex-direction: row;
}

.new-star {
    /* border: 3px solid purple; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
}

.dot {
    /* border: 3px solid brown; */
    min-width: 15px;
    text-align: center;
}

.reviews {
    /* border: 3px solid purple; */
    min-width: 80px;
    text-align: center;
}

.reviews-list {
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    max-height: fit-content;
}