:root {
    --main-color: #FF5A5F;
    --accent-color: #00A699;
    --alternate-color: #FC642D;
    --dark-color: #484848;
    --light-color: #767676;
    --main-header-font: 'Lobster Two';
    --sub-header-font: 'Signika Negative';
    --content-font: 'Rubik'
}

.overall-container {
    /* border: 3px solid lime; */
    height: fit-content;
    width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.message-container {
    /* border: 3px solid blue; */
    margin: 10px auto;
}

.confirmation-buttons-container {
    /* border: 3px solid yellow; */
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.confirmation-button {
    border: 2px solid black;
    box-shadow: 3px 3px black;
    margin: 3px auto;
    height: 50px;
    width: 300px;
    color: white;
}

.confirmation-button:hover {
    box-shadow: none;
}

.yes {
    background-color: var(--main-color);
}

.no {
    background-color: var(--light-color);
}