.navbar {
    /* border: 3px solid lime; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid lightgray;
}

.home {
    /* border: 3px solid red; */
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    cursor: pointer;
}

.menu {
    /* border: 3px solid lime; */
    display: flex;
    justify-content: space-evenly;
}

#create-spot {
    /* border: 1px solid red; */
    margin: 0 10px;
}