/* .profile-dropdown {
    /* border: 3px solid lime; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: auto;
    margin: auto; */


.list-item {
    /* border: 3px solid lime; */
    width: fit-content;
    margin: 5px auto;
    padding: 5px 3px;
}

.hidden {
    display: none;
}

.user-menu {
    border: 2px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px lightgray;
    width: 40px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.no-user{
    width: 20px;
}

.user-menu:hover {
    box-shadow: none;
}

.no-shadow {
    display: none;
}