:root {
    --main-color: #FF5A5F;
    --accent-color: #00A699;
    --alternate-color: #FC642D;
    --dark-color: #484848;
    --light-color: #767676;
    --main-header-font: 'Lobster Two';
    --sub-header-font: 'Signika Negative';
    --content-font: 'Rubik'
}

.profile-dropdown {
    /* border: 3px solid red; */
    position: absolute;
    right: -10%;
    top: 225%;
    width: 200px;
    height: 200px;
    max-height: fit-content;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: auto; */
    /* margin: auto; */
    /* opacity: 1; */
}

/* #user-menu > ul li > p:hover {
    background-color: rgba(0, 0, 0, .2);
} */

.list-item {
    /* border: 3px solid lime; */
    width: 220px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: fit-content;
    /* margin: 5px auto;
    padding: 5px 3px; */
    margin-right: 15%;
}

.hidden {
    display: none;
    /* opacity: 0; */
}

.user-menu {
    border: 2px solid lightgray;
    position: relative;
    border-radius: 30%;
    box-shadow: 1px 1px lightgray;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
}

.no-user{
    width: 20px;
}

.user-menu:hover {
    box-shadow: none;
}

.no-shadow {
    display: none;
}

.logout-button {
    /* border: 3px solid blue; */
    background-color: var(--dark-color);
    color: white;
    height: 30px;
    /* width: 200px; */
    width: fit-content;
    min-width: 100px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 35%;
}

.border-shadows {
    border-top: 1px solid lightgray;
    /* border-bottom: 2px solid lightgray; */
}

.border-shadows:hover {
    background-color: rgba(0, 0, 0, .025);
}